<a href="https://colab.research.google.com/github/spacemaninSeoul/justpractice/blob/main/Brazil_E_Commerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd
import matplotlib.pyplot as plt

In [91]:
customers = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_customers_dataset.csv')
reviews = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_order_reviews_dataset.csv')
payments = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_order_payments_dataset.csv')
orders = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_orders_dataset.csv')
items = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_order_items_dataset.csv')
products = pd.read_csv('/content/drive/MyDrive/데이터분석/brazilEcommerce/olist_products_dataset.csv')

In [76]:
reviews = reviews[['order_id', 'review_id', 'review_score']]

In [77]:
order_review = pd.merge(orders, reviews)
order_review.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,8d5266042046a06655c8db133d120ba5,4
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,e73b67b67587f7644d5bd1a52deb1b01,5
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,359d03e676b3c069f62cadba8dd3f6e8,5
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,e50934924e227544ba8246aeb3770dd4,5

In [78]:
order_review_over = order_review.set_index('customer_id')

In [79]:
condition = (order_review['customer_id'].value_counts() != 1)
order_review_over = order_review_over[condition].reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [86]:
order_review_over[['customer_id', 'order_id', 'review_score']].groupby('customer_id').mean()

                                  review_score
customer_id
0033823ee55671ac5317d423291333c2           4.0
00d9314fb3f147133d0dae548abab307           4.5
010f3c6e21051748f72f762b9a7cb85d           5.0
0219be9d41699276f5d2010b4e758d51           4.0
0303e5527d4342ac7939d2bfc0f9f9e2           5.0
...                                        ...
fed0ff024b3a8669c894875e9bbf96d4           3.0
ff09fd7b29e7488a8d8a20badcd8befe           5.0
ff0bdbbb629b5dc2918fb41b89dd14d8           3.0
ff542e3cf0ba09909e8cfa4ea58186e1           5.0
ffb352544f1296ee263ecd1b69726e43           5.0

[547 rows x 1 columns]

In [81]:
order_review_over[['customer_id', 'order_id', 'review_score']].groupby('customer_id').mean().mean()

review_score    4.024071
dtype: float64

In [82]:
condition2 = (order_review['customer_id'].value_counts() == 1)
order_review_once = order_review.set_index('customer_id')
order_review_once = order_review_once[condition2].reset_index()
order_review_once[['customer_id', 'order_id', 'review_score']].groupby('customer_id').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

                                  review_score
customer_id
00012a2ce6f8dcda20d059ce98491703           1.0
000161a058600d5901f007fab4c27140           4.0
0001fd6190edaaf884bcaf3d49edf079           5.0
0002414f95344307404f0ace7a26f1d5           5.0
000379cdec625522490c315e70c7a9fb           4.0
...                                        ...
fffecc9f79fd8c764f843e9951b11341           3.0
fffeda5b6d849fbd39689bb92087f431           4.0
ffff42319e9b2d713724ae527742af25           5.0
ffffa3172527f765de70084a7e53aae8           5.0
ffffe8b65bbe3087b653a978c870db99           5.0

[98126 rows x 1 columns]

In [83]:
order_review_once[['customer_id', 'order_id', 'review_score']].groupby('customer_id').mean().mean()

review_score    4.087143
dtype: float64

In [90]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [101]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79